.App {
  text-align: center;
}

.App-header {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.App-link {
  color: #61dafb;
}

.App__submit-button {
  border: 1px solid white;
  width: 20vw;
  height: 5vh;
  margin: 5vh;
  margin-left: 30vw;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-size: 1.5rem;
}

.App__submit-button:hover {
  background-color: #34AC9C;
  color: black;
}

@media only screen and (max-width: 800px) {
  .App__submit-button {
    width: 40vw;
    margin-left: 20vw;
  }
}